@page
@model Soldini_TestiMusicali.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lyric</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lyric.id" />
            <div class="form-group">
                <label asp-for="Lyric.song" class="control-label"></label>
                <input asp-for="Lyric.song" class="form-control" />
                <span asp-validation-for="Lyric.song" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lyric.artist" class="control-label"></label>
                <input asp-for="Lyric.artist" class="form-control" />
                <span asp-validation-for="Lyric.artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lyric.writer" class="control-label"></label>
                <input asp-for="Lyric.writer" class="form-control" />
                <span asp-validation-for="Lyric.writer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lyric.release_date" class="control-label"></label>
                <input asp-for="Lyric.release_date" class="form-control" />
                <span asp-validation-for="Lyric.release_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lyric.text" class="control-label"></label>
                <input asp-for="Lyric.text" class="form-control" />
                <span asp-validation-for="Lyric.text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
